$font-family: 'Roboto', 'sans-serif';

$charcoalDark: rgba(54, 69, 79, 0.6);
$charcoalLight: rgba(54, 69, 79, 0);
$whiteBackground: rgb(252, 252, 252);
$smoke: rgb(230, 230, 230);
$itlOrangeDark: rgb(252, 103, 81);
$itlOrangeLight: rgb(251, 151, 137);
$greenDark: rgb(105, 201, 202);
$greenLight: rgb(150, 222, 218);
$itlGrey: rgba(162, 162, 162, 0.8);
